.steps {
    position: relative;
    overflow: hidden;
    min-height: 200px;
    width: 100%;
}
.step1,
.step2,
.step3,
.step4,
.step5
{
    position: absolute;
    display: block;
    top: 0;
    left:0;
    width: 100%;
}

div.search{
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #a3c3db;
    background: url("../../img/icon-search.png") 6px center no-repeat;
}
div.search input {
    width: 100%;
    margin-top: 15px;
    padding-left: 50px;
    color: #333333;
    font-size: 19px;
    background: transparent;
    border: none;
    outline: none;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
}

.col-trainings,
.col-departments,
.col-available-users {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 200px;
    height: 200px;
    background: #fff;
    overflow-y: scroll;
}

.col-trainings .trainings-list,
.col-departments .departments-list,
.col-available-users .available-users-list {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    /*overflow: hidden;*/
    height: 220px;
    white-space:nowrap;
}

.col-trainings .training-item,
.departments-list .department-item,
.available-users-list .available-user-item {
    position: relative;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #f1f1f1;
    cursor: default;
}

.col-trainings .training-item:hover,
.departments-list .department-item:hover,
.available-users-list .available-user-item:hover {
    background-color: #f1f1f1;
}

.col-trainings .training-item.selected,
.departments-list .department-item.selected,
.available-users-list .available-user-item.selected {
    background-color: #d8eefa;
    margin-top: -1px;
    color: #333;
    box-shadow: none;
    border-top: 1px solid #b6def5;
    border-bottom: 1px solid #b6def5;
}

.col-trainings .training-item .name,
.departments-list .department-item .name,
.available-users-list .available-user-item .name {
    display: inline-block;
    float: left;
    width: 250px;
    height: 44px;
    text-wrap: none;
    padding-top: 12px;
    padding-left: 20px;
    font-size: 17px;
    overflow: hidden;
}
.col-users {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 200px;
    height: 200px;
    background: #fff;
    overflow-y: scroll;
}

.col-users .users-list {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden;
}

.col-users .user-item {
    position: relative;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #f1f1f1;
    cursor: default;
}

.col-users .user-item:hover {
    background-color: #f1f1f1;
}

.col-users .user-item.selected {
    background-color: #d8eefa;
    margin-top: -1px;
    color: #333;
    box-shadow: none;
    border-top: 1px solid #b6def5;
    border-bottom: 1px solid #b6def5;
}

.col-users .user-item .name{
    display: inline-block;
    float: left;
    width: 250px;
    height: 44px;
    text-wrap: none;
    padding-top: 12px;
    padding-left: 20px;
    font-size: 17px;
    overflow: hidden;
}

.available-users-list .available-user-item .name span.lastname {
    font-weight: bold;
}

.departments-list .department-item .data,
.available-users-list .available-user-item .login-data {
    display: inline-block;
    float: right;
    max-width: 300px;
    height: 44px;
    text-align: right;
    padding-top: 14px;
    padding-right: 14px;
    font-size: 13px;
    color: #999;
    overflow: hidden;
}
.available-users-list .available-user-item .login-data span.department {
    color: #333;
}



/* Standard form CSS */

/*Header*/
.modal-header {
    border:0!important;
}
.modal-header--padding
{
    padding: 15px 15px 0px 15px;
}
.modal-header__title
{   
    float:left; 
    margin: 0;
    font-weight: 500; 
    line-height: 1.42857143;
    font-size:18px;

}
.modal-header__date
{
    margin: 0 auto;
    width:200px;
    height:25px;
    text-align: center;
    font-size: 18px;
}
.datetimepicker-start
{
    margin-top:4px;
    width: 175px;
    height: 25px;
    text-align: center;
    font-size: 14px;
}
.datetimepicker-finish
{
    margin-top:4px;
    width: 175px;
    height: 25px;
    text-align: center;
    font-size: 14px;
}
.datetimepicker-icon
{
    float: right;;
    display: inline-block;
    height: 25px;
    width: 30px;
    color: #555;
    font-size: 14px;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 5px;
    margin-right: 25px;
}



/*Header for trainingEventAdd modal*/
.modal-header__training
{
}
.modal-header__training-name
{
    display: inline-block;
    float: left;
    padding: 10px 10px 0px 10px;
    width: 250px;
    height: 80px;
    font-size: 16px;
}
.training-name__content
{
    display: inline-block;
    float: left;
    width: 200px;
    height: 25px;
    font-size: 14px;
    margin-top: 4px;
}

.modal-header__training-start{
    display: inline-block;
    float: left;
    padding: 10px 10px 0px 10px;
    margin-left: 25px;
    width: 250px;
    height: 80px;
    font-size: 16px;
}
.training-start__content{
    display: inline-block;
    float: left;
    width: 200px;
    height: 25px;
    font-size: 14px;
    margin-top: 4px;
}
.modal-header__training-finish{
    display: inline-block;
    float: left;
    padding: 10px 10px 0px 10px;
    margin-left: 25px;
    width: 250px;
    height: 80px;
    font-size: 16px;
}
.training-finish__content{
    display: inline-block;
    float: left;
    width: 200px;
    height: 25px;
    font-size: 14px;
    margin-top: 4px;
}

/*MODAL BODY*/

.modal.loading .modal-content:before {
    content: 'Loading...';
    text-align: center;
    line-height: 155px;
    font-size: 20px;
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
    color: #EEE;
    z-index: 1000;
}
.col-data{
    float:left;
    margin-top: 3px;
    margin-left: 1px;
}
.training-item__label-dot
{
    display: inline-block;
    float: left;
    /* margin-left: 15px; */
    width: 44px;
    padding: 12px 10px;
    /* max-height: 25px; */
    /* font-size: 11px; */
    /* line-height: 13px; */
    height: 44px;
    /* margin: 0 auto; */
}
.training-item__label-dot .icon-remove
{
    display: inline-block;
    float: left;
    cursor: pointer;
    width: 22px; 
    height: 22px; 
    background: url(../../../static/img/Calendar/modals/remove.png) center center no-repeat;
}
.training-item__label-dot-edit
{
    display: inline-block;
    float: left;
    /* margin-left: 15px; */
    width: 44px;
    padding-top: 15px;
    /* max-height: 25px; */
    /* font-size: 11px; */
    /* line-height: 13px; */
    height: 44px;
    cursor:pointer;
    /* margin: 0 auto; */
}
.label-dot
{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    float: left;
    border-radius: 50%;
}
.training-item__name
{
    display: inline-block;
    float: left;
    width: 250px;
    height: 44px;
    text-wrap: none;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 18px;
    overflow: hidden;
}
.training-item__name-contents
{
    display: inline-block;
    float: left;
    width: 130px;
    height: 44px;
    text-wrap: none;
    padding-top: 17px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:#aaa;
}

.training-item__users
{
    display: inline-block;
    float: left;
    width: 100px;
    height: 44px;
    text-wrap: none;
    padding-top: 17px;
    /* padding-right: 15px; */
    font-size: 12px;
    text-align: right;
    color: #ccc;
    overflow: hidden;
}

.training-item__time
{
    display: inline-block;
    float: right;
    width: 75px;
    height: 35px;
    text-wrap: none;
    /*margin:5px;*/
    padding-top: 10px;
    padding-right: 15px;
    font-size: 18px;
    font-weight: 200;
    color:#ccc;
    /*border:1px solid #000;*/
    text-align: right;
    overflow: hidden;
}
.user-item__username
{
    display: inline-block;
    float: left;
    width: 250px;
    height: 44px;
    text-wrap: none;
    padding-top: 7px;
    padding-left: 20px;
    font-size: 24px;
    overflow: hidden;
}

.user-item__name
{
    display: inline-block;
    float: left;
    width: 100px;
    height: 44px;
    text-wrap: none;
    padding-top: 17px;
    /* padding-right: 15px; */
    font-size: 12px;
    text-align: right;
    color: #ccc;
    overflow: hidden;
}

.user-item__time
{
    display: inline-block;
    float: left;
    width: 150px;
    height: 44px;
    text-wrap: none;
    padding-top: 7px;
    padding-right: 15px;
    font-size: 22px;
    text-align: right;
    overflow: hidden;
}
/*Body*/
.modal-trainings-list 
.modal-body
{border-top:1px solid #e5e5e5;}
.modal-body.modal-body--dimensions{
    width: 100%;
    height: 400px;
    padding:0px 15px 15px 15px;
}
.modal-body__select-buttons
{
    float:left;
    display: inline-block;
    height: 30px;
    width: 100%;
}
.modal-body .content { 
    display: table;
    width: 100%; 
    height: auto; 
}
.modal-body .users-content { 
    display: table;
    width: 100%; 
    height: auto; 
}

.modal-body .details-row {
    display: table-row; 
    width:100%;
    min-height: 30px;
}
.modal-body .details-row .col-line {
    display: table-cell;
    width: 100%;
    height: 40px;
}
.modal-body .details-row .col-line .line {
    margin-left: 200px;
    margin-top: 20px;
    border-top: 1px solid #ededed;   
}
.modal-body .details-row .col-label {
    display: table-cell; 
    float:left; 
    width: 30%;
    text-align: right;
    padding-top: 3px;
    padding-right: 27px;
    min-height: 30px;
}
.modal-body .details-row .col-data {
    display: table-cell; 
    float:left; 
    width: 70%; 
    min-height: 30px;
    padding-top: 3px;
    padding-right: 100px;
}
.modal-body .details-row.margin-row .col-label,
.modal-body .details-row.margin-row .col-data {
    padding-top: 18px;
}

.modal-body .details-row .col-label .label-text {
    white-space: nowrap;
    overflow: hidden;
    color: #999;
    font-size: 15px;
    font-weight: 500;
    line-height: 27px;
}



.modal-body .details-row .col-data .data-text {
    color: #333;
    font-size: 17px;
    line-height: 27px;
    /* white-space: nowrap; */
    overflow: hidden; 
}
.modal-body .details-row .col-data .data-text.department,
.modal-body .details-row .col-data .data-text.name{
    display: block;
    color: #000;
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modal-body .details-row .col-data .data-input {
    position: relative;
    white-space: nowrap;
    color: #333;
    font-size: 17px;
    overflow: hidden;
}

.modal-body .details-row .col-data .data-input input {
    display: block;
    z-index: 100;
    width: 285px;
    padding: 2px 4px;
    background: transparent;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 1px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fafafa;
    color: #1a1a1a;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: middle;
    line-height: inherit;
}
.modal-body .details-row .col-data .data-input textarea {
    display: block;
    z-index: 100;
    width: 285px;
    padding: 2px 4px;
    background: transparent;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 1px;
    border-radius: 2px; 
    -webkit-box-shadow: inset 0px 1px 0px 0px #fafafa;
    color: #1a1a1a;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: middle;
    line-height: inherit;
    resize:none;
}

.modal-body__select-group
{
    float: left;
    display: inline-block;
    width: 250px;
    height: 50px;
    margin-left: 10px;
    padding-left: 15px;
    padding-top: 5px;
    background: #e4e6e8;
}
.select-group__header
{
    color: #333;
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    float: left;
    display: inline-block; 
}
#select-group
{       
    font-size: 12px;
    color: #167efb; 
    /* float: left; */
    margin-top: 5px;
}
.content-table
{
    float: left;
    padding: 0px 10px 0px 10px;
    width: 100%;
    height: 340px;
}
/*--------ROOMS---------*/
/*List of Rooms Column*/
.content-table__col-select-rooms
{
    float: left;
    display: inline-block;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 250px;
    height: 320px;
    background: #e4e6e8;
    border-right: 1px solid #ccc;
}
.rooms-header
{
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    padding: 5px 2px 0px 5px;
}
.rooms-list
{
    width: 100%;
    height: calc(100% - 77px);
}
.rooms-list__content
{
    height: 245px;
    overflow-y: scroll;
}
.rooms-list__item
{
    position: relative;
    display: block;
    width: 100%;
    height: 27px;
    padding: 3px 5px;  
    color:#465D6E;
    border-bottom:1px solid #fff;
}
.rooms-list__item-content
{
    position: relative;
    display:block;
    width: 100%;
    height: 100%; 
}
.rooms-list__item-label
{
    float: left;
    display: inline-block;
    width: 25px;
    height: 100%;
}
.rooms-list__item-plus{
    float: right;
    padding-right:10px;
    padding-top:1px;
    cursor:pointer;
}
.rooms-list__item-text
{
    float: left;
    display: inline-block;
    font-size: 14px;
    line-height: 15px;
    padding-left: 2px;
    padding-top: 3px;
}
/*Room's Details Column*/
.content-table__col-details
{
    float: left;
    display: inline-block;
    height: 315px;
    width: calc(100% - 250px);
    padding: 10px 100px;
    font-size: 14px; 
    overflow-y: auto;
}
.col-details__title
{
    float: left;
    width: 100%;
    height: 40px;
    padding-left: 28px;
    font-size: 18px;
    color: #167efb;
    border-bottom: 1px solid #ccc;
}
.row-form
{
    display: table-row;
    width: 100%;
    min-height: 30px;
}
.row-form .col-data
{
    padding-top:7px;
    max-width: 330px;
}
.row-form .col-label
{
    display: table-cell;
    float: left;
    width: 150px;
    text-align: right;
    padding-top: 10px;
    padding-right: 27px;
    min-height: 20px;
    overflow: hidden;
}

/*USERS*/
/*list*/
.content-table__col-select-users
{
    float: left;
    display: inline-block;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 250px;
    height: 320px;
    background: #e4e6e8;
    border-right: 1px solid #ccc;
}
.users-header
{
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    padding: 5px 2px 0px 5px;
}
.users-list
{
    width: 100%;
    height: calc(100% - 77px);
}
.users-list__content
{
    height: 245px;
    overflow-y: scroll;
}
.users-list__item
{
    position: relative;
    display: block;
    width: 100%;
    height: 27px;
    padding: 3px 5px;  
    color:#465D6E;
    border-bottom:1px solid #fff;
}
.users-list__item-content
{
    position: relative;
    display:block;
    width: 100%;
    height: 100%; 
}
.users-list__item-label
{
    float: left;
    display: inline-block;
    width: 25px;
    height: 100%;
}
.users-list__item-plus{
    float: right;
    padding-right:10px;
    padding-top:1px;
    cursor:pointer;
}
.users-list__item-name
{
    float: left;
    display: inline-block;
    font-size: 14px;
    line-height: 15px;
    padding-left: 2px;
    padding-top: 3px;
}
/*USERS*/
/*details*/

.col-remove-user
{
    float: left;
    display: inline-block;
    width: 30px;
    height: 30px;
}
.icon-remove
{
    display: inline-block;
    float: left;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: url(../../../static/img/Calendar/modals/remove.png) center center no-repeat;
}

.col-data-user
{
    float:left;
    display: inline-block;
    width: calc(100% - 30px);
    padding-left: 10px;
    /*background: black;*/
    
}
.col-data-user__name
{
    float: left;
    display: inline-block;
    width: 160px;
    max-width: 160px;
    height: 30px;
    max-height: 30px;
    padding-top: 5px;
    font-size: 14px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}
.col-data-user__email
{
    float: left;
    display: inline-block;
    width: 170px;
    max-width: 170px;
    height: 30px;
    padding-top: 6px;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    color: #167efb;
    
}
.col-data-user__phone
{
    float: left;
    display: inline-block;
    width: 100px;
    max-width: 100px;
    height: 30px;
    padding-top: 5px;
    font-size: 12px;
    text-align: right;
    color: #ccc;
    white-space: nowrap;
}

/*TRAININGS*/
/*list*/
.content-table__col-select-trainings
{
    float: left;
    display: inline-block;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 250px;
    height: 320px;
    background: #e4e6e8;
    border-right: 1px solid #ccc;
}
.trainings-header
{
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    padding: 5px 2px 0px 5px;
}
.trainings-list
{
    width: 100%;
    height: calc(100% - 77px);
}
.trainings-list__content
{
    height: 245px;
    overflow-y: scroll;
}
.trainings-list__item
{
    position: relative;
    display: block;
    width: 100%;
    height: 27px;
    padding: 3px 5px;  
    color:#465D6E;
    border-bottom:1px solid #fff;
}
.trainings-list__item-content
{
    position: relative;
    display:block;
    width: 100%;
    height: 100%; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.trainings-list__item-label
{
    float: left;
    display: inline-block;
    width: 25px;
    height: 100%;
    /*background: url(../../../static/img/Calendar/modals/train.png) 0px 0px no-repeat;*/
}
.trainings-list__item-plus{
    float: right;
    padding-right:10px;
    padding-top:1px;
    cursor:pointer;
}
.trainings-list__item-name
{
    float: left;
    display: inline-block;
    font-size: 14px;
    line-height: 15px;
    padding-left: 2px;
    padding-top: 3px;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*TRAININGS*/
/*details*/

.col-remove-training
{
    float: left;
    display: inline-block;
    width: 30px;
    height: 60px;
    padding-top: 15px;
}
.icon-remove
{
    display: inline-block;
    float: left;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: url(../../../static/img/Calendar/modals/remove.png) center center no-repeat;
}

.col-data-training
{
    float:left;
    display: inline-block;
    width: 498px;  
    border-bottom:1px solid;
}
.col-data-training__name
{
    float: left;
    display: inline-block;
    width: 145px;
    /* max-width: 120px; */
    height: 60px;
    max-height: 60px;
    padding-top: 22px;
    padding-left: 15px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
}
.col-data-training__description
{
    float: left;
    display: inline-block;
    width: 215px;
    max-width: 230px;   
    height: 60px;
    padding-top: 12px;
    /* padding-left: 15px; */
    font-size: 11px;
    text-align: left;
    line-height: 21px;
    overflow: hidden;
    margin: 0 auto;
    
}
.col-data-training__chapters
{
    float: right;
    display: inline-block;
    width: 80px;
    max-width: 80px;
    height: 60px;
    padding-top: 20px;
    margin-right: 10px;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
    
}
.chapters-button
{
    float: right;
    width: 80px;
    height: 20px;
    line-height: 20px;
    border-radius: 4px;
    background: rgba(18, 70, 133, 0.7);
}

.col-data-user__phone
{
    float: left;
    display: inline-block;
    width: 100px;
    max-width: 100px;
    height: 30px;
    padding-top: 5px;
    font-size: 12px;
    text-align: right;
    color: #ccc;
    white-space: nowrap;
}
/*NO SELECT ITEM*/
.no-select-item
{   
    font-size:18px;
    color:#e4e6e8;
    text-align: center;
    padding: 120px;
}
/* buttons */
.col-details__buttons
{
    float: left;
    padding-top: 15px;
    display: inline-block;
    width: 100%;

}


.col-details__buttons .btn
{
   background: red;
   border:1px solid transparent;
   border-radius: 4px;
   font-size:12px;
   padding:3px 6px;
   color:#fff; 
}
.col-details__buttons .btn:hover
{
    background: #d35c5c;
}
button.left {
    float:left;
}
button.right {
    float:right;
}
button.in-progress {
    color: transparent !important;
    background: url('../../img/ajax-loader.gif') center center no-repeat  !important;
}
div.separator {
    margin: 0px 10px 0px 10px;
    display: inline-block;
    width: 1px;
    height: 22px;
    vertical-align: middle;
}
div.separator.line {
    border-left: 1px solid #ccc;
}
button.red {
    color: #fc3d40;
}
button.red:hover,
button.red:active,
button.red:focus {
    color: #ED1013;
}

button.icon-plus,
button.icon-plus:hover,
button.icon-plus:active,
button.icon-plus:focus
{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0px 5px;
    background: url('../static/img/Calendar/modals/plus.png') top left no-repeat;
    background-size: 24px 24px;
}

.glyphicon-blue
{
    color:#167efb;
}
/*.table
{
    margin: 0 ;
}*/
.add-list
{
    margin: 0 auto;

}
.checkbox-inline {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;

}

.main-header__search {
    display: inline-block;
    float: left;
    width: 300px;
    height: 44px;
}

.search-bar { 
    position: relative;
    display: block;
    height: 35px;
    width: 100%;
    text-align: center;
    padding: 5px 0 0 0;
}
.search-bar__wrapper {
    display: inline-block;
    margin: 0 auto;
    height: 24px;
    width: 230px;
    padding: 1px;
    background: #fff;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid #ccc;

}
.search-bar__input{
    width: 200px; 
    border: none; 
    font-size: 13px; 
}
.right-arrow
{
    top:4px;
    color:#167efb;
}

.horizontal-line
{   
    display: inline-block;
    margin-top: 15px;
    height: 1px;
    background: #e5e5e5;
}
.horizontal-line--left{float:left; width: 325px;margin-left:10px; }
.horizontal-line--right{float:right;width: 323px; margin-right:10px;}
