/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 25, 2016, 5:14:09 PM
    Author     : Maciej Otlowski
*/


.main-menu {  
    position: absolute;
    top: 0px;
    left: -350px;
    bottom: 0px;
    width: 350px;
    padding: 0px 0px;
    padding-left: 50px;
    background-color: rgba(0,0,0,0.6);
    color: white;
    font-size: 30px;
    z-index: 999999;
}

.main-menu__overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255,255,255,0);
    z-index: 999998;
}

.main-menu__header {
    top:0px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: white;
    background: #000;
}

.main-menu__header__image{
    
}

.main-menu__header__h1{
    text-align: left;
    padding-top: 6px;
    padding-left: 15px;
    margin: 0px 15px 0px;
    font-size: 24px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    color: #fff;
    cursor: default;
}
.main-menu__header__h1::-moz-selection {
    background: rgba(0,0,0,0);
}

.main-menu__header__h1::selection { 
    background: rgba(0,0,0,0);
}

.main-menu__content {
    position:relative;
    height: calc(100% - 105px);
    height: -webkit-calc(100% - 105px);
    height: -moz-calc(100% - 105px);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
}
.main-menu__wrapper {
    position:relative;
    height: 100%;    
    overflow-x: hidden;
    overflow-y: auto;
}

.main-menu__footer {
    bottom: 0px;
    margin: 0px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #000;
}

.menu-item {
    position:relative;
    display: block;
    height: 60px;
    width: 300px;
    margin: 10px 0px;
   background: transparent;
    -moz-transition: all 0.15s ease-in;/* WebKit */
    -webkit-transition: all 0.15s ease-in;/* Opera */
    -o-transition: all 0.15s ease-in;/* Standard */
    transition: all 0.15s ease-in;
}
.menu-item__content {
    width: 100%;
    height: 100%;
    padding: 2px 15px;
    -moz-transition: all 0.15s ease-in;/* WebKit */
    -webkit-transition: all 0.15s ease-in;/* Opera */
    -o-transition: all 0.15s ease-in;/* Standard */
    transition: all 0.15s ease-in;
    
}
.menu-item__content:hover {
    background: #000;
    cursor: pointer;
}

.menu-item__icon {
    display: inline-block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50px;
    height: 50px;

    background: url("../../static/img/App/modules-icons__menu.png") no-repeat;
    background-color: #FFFFFF;
    border-radius: 15px;
}
.menu-item__icon--trainings {
    background-position: -54px 8px;
}

.menu-item__icon--questionnaires {
    background-position: 2px 7px;
}

.menu-item__icon--rooms {
    background-position: -186px 8px;
}

.menu-item__icon--calendar {
    background-position: -118px 8px;
}

.menu-item__icon--users {
    background-position: -312px 7px;
}

.menu-item__icon--settings {
    background-position: -375px 8px;
}

.menu-item__icon--reports {
    background-position: -442px 8px;
}

.menu-item__name {
    height: 30px;
    line-height: 30px;
    padding-left: 17px;  
    color: #fff;
    font-size: 17px;
}
.menu-item__description {
    height: 20px;
    line-height: 20px;
    padding-left: 17px;  
    color: #fff;
    font-size: 10px;
}
