.modal-header.menu {
    padding: 5px;
    background-color: #f5f4f4;
    color: #313131;
    height: 75px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.modal-header.menu .icon {
    display: block;
    margin-top: 6px;
    padding: 0;
    height: 54px;  
}
.modal-header.menu .icon {
    max-width: 80px;
}
.modal-header.menu .icon.separate-line {
    border-right: 1px solid #e7e6e6;
}
.modal-header.menu .icon .img {
    display: block;
    width: 100%;
    height: 36px;
    text-align: center;
}

.modal-header.menu .icon .desc {
    display: block;
    height: 18px;
    text-align: center;
    margin-top: -3px;
    font-size: 15px;
    font-weight: normal;
    color: #666666;
}
.modal-header.menu .icon.selected,
.modal-header.menu .icon:hover {
    cursor: default;
}

.modal-header.menu .icon .img.employee {
    background: url(../../img/modals/icon-employee.png) center center no-repeat;
    background-size: 32px 32px;
}
.modal-header.menu .icon .img.document {
    background: url(../../img/modals/icon-document.png) center center no-repeat;
    background-size: 32px 32px;
}
.modal-header.menu .icon .img.document-signed {
    background: url(../../img/modals/icon-document-signed.png) center center no-repeat;
    background-size: 32px 32px;
}
.modal-header.menu .icon .img.rotations {
    background: url(../../img/modals/icon-rotation.png) center center no-repeat;
    background-size: 32px 32px;
}
.modal-header.menu .icon .img.external {
    background: url(../../img/modals/icon-external.png) center center no-repeat;
    background-size: 32px 32px;
}
.modal-header.menu .icon .img.holidays {
    background: url(../../img/modals/icon-holidays.png) center center no-repeat;
    background-size: 32px 32px;
}

.modal-header.menu .icon.selected .img.employee,
.modal-header.menu .icon:hover .img.employee {
    background: url(../../img/modals/icon-employee-b.png) center center no-repeat;
    background-size: 32px 32px;
}
.modal-header.menu .icon.selected .img.document,
.modal-header.menu .icon:hover .img.document {
    background: url(../../img/modals/icon-document-b.png) center center no-repeat;
    background-size: 32px 32px;
}
.modal-header.menu .icon.selected .img.document-signed,
.modal-header.menu .icon:hover .img.document-signed {
    background: url(../../img/modals/icon-document-signed-b.png) center center no-repeat;
    background-size: 32px 32px;
}
.modal-header.menu .icon.selected .img.rotations,
.modal-header.menu .icon:hover .img.rotations {
    background: url(../../img/modals/icon-rotation-b.png) center center no-repeat;
    background-size: 32px 32px;
}
.modal-header.menu .icon.selected .img.external,
.modal-header.menu .icon:hover .img.external {
    background: url(../../img/modals/icon-external-b.png) center center no-repeat;
    background-size: 32px 32px;
}
.modal-header.menu .icon.selected .img.holidays,
.modal-header.menu .icon:hover .img.holidays {
    background: url(../../img/modals/icon-holidays-b.png) center center no-repeat;
    background-size: 32px 32px;
}



.modal-header.menu .icon.selected .desc,
.modal-header.menu .icon:hover .desc {
    color: #007aff;
}




.steps {
    position: relative;
    overflow: auto;
    min-height: 320px;
    width: 100%;
}
.step1,
.step2,
.step3,
.step4,
.step5
{
    position: absolute;
    display: block;
    top: 0;
    left:0;
    width: 100%;
}

div.search{
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #a3c3db;
    background: url("../../img/icon-search.png") 6px center no-repeat;
}
div.search input {
    width: 100%;
    margin-top: 15px;
    padding-left: 50px;
    color: #333333;
    font-size: 19px;
    background: transparent;
    border: none;
    outline: none;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
}


.col-departments,
.col-available-users {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 230px;
    height: 230px;
    background: #fff;
    overflow: hidden;
}

.col-departments .departments-list,
.col-available-users .available-users-list {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden;
}
.departments-list .department-item,
.available-users-list .available-user-item {
    position: relative;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #f1f1f1;
    cursor: default;
}
.departments-list .department-item:hover,
.available-users-list .available-user-item:hover {
    background-color: #f1f1f1;
}
.departments-list .department-item.selected,
.available-users-list .available-user-item.selected {
    background-color: #d8eefa;
    margin-top: -1px;
    color: #333;
    box-shadow: none;
    border-top: 1px solid #b6def5;
    border-bottom: 1px solid #b6def5;
}
.available-users-list .available-user-item .check {
    display: inline-block;
    float: left;
    width: 20px;
    height: 44px;
    padding-top: 12px;
    padding-left: 10px;
    background: url('../../img/check.png') center right no-repeat;
    background-size: 14px 14px;
}
.available-users-list .available-user-item .check.checked {
    background: url('../../img/checked.png') center right no-repeat;
    background-size: 14px 14px;
}
.departments-list .department-item .name,
.available-users-list .available-user-item .name {
    display: inline-block;
    float: left;
    width: 250px;
    height: 44px;
    text-wrap: none;
    padding-top: 12px;
    padding-left: 20px;
    font-size: 17px;
    overflow: hidden;
}
.available-users-list .available-user-item .name span.lastname {
    font-weight: bold;
}
.departments-list .department-item .data,
.available-users-list .available-user-item .login-data {
    display: inline-block;
    float: right;
    max-width: 300px;
    height: 44px;
    text-align: right;
    padding-top: 14px;
    padding-right: 14px;
    font-size: 13px;
    color: #999;
    overflow: hidden;
}
.available-users-list .available-user-item .login-data span.department {
    color: #333;
}


/* Left menu - Steps */
.modal-body .process-steps-col {
    position: relative;
    min-height: 350px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.modal-body .process-steps-col:after {
    content: '';
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    border-right:1px solid #e5e5e5;
}
.process-steps-col .process-step {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 15px;
    min-height: 80px;
}
.process-steps-col .process-step .number{
    position: relative;
    display: block;
    width: 40px;
    height: 38px;
    margin: 0 auto;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #ccc;
}
.process-steps-col .process-step .number:before {
    content: '';
    position: absolute;
    top: 0;
    left:2px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.process-steps-col .process-step .description {
    display: block;
    width: 100%;
    text-align: center;
    color: #aaa;
    font-size: 12px;
}
.process-steps-col .process-step.selected {
    color: #20AF11;
}
.process-steps-col .process-step.selected .number {
    color: #20AF11;
}
.process-steps-col .process-step.selected .number:before {
    border-color: #20AF11;
}
.process-steps-col .process-step.selected .description {
    color: #20AF11;
}


/* History table */
.approving-history {
    
}
.approving-history .section-header .row {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
.approving-history .section-header .label-main {
    padding: 4px 0px;
    font-weight: bold;
    color: #000;
}
.approving-history .section-content .row {
    border-bottom: 1px dashed #e5e5e5;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.approving-history .section-content .action-date {
    color: #337ab7;
}
.approving-history .section-content .action-details {
    color: #000;
}
.approving-history .section-content .action-details .username{
    color: #337ab7;
    font-weight: bold;
}

/* Standard form CSS */

.modal-body .content { 
    display: table;
    width: 100%; 
    height: auto; 
}
.modal-body select {
    margin-left: 1px;
}
.modal-body .line-row {
    margin: 15px 0 15px 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e3e3e3;
}
.modal-body .text {
    margin-top: 15px;
    display: block;
    color: #666;
    font-size: 17px;
    text-align: center;
}
.modal-body ul.reasons {
    font-size: 14px;
    list-style-type: none;
    margin-left: 0px;
    padding: 0px;
}
.modal-body ul.reasons > li {
    display: inline-block;
    float: left;
    width: 150px;
    margin: 3px 8px;
    padding:0px;
}
.modal-body .details-row {
    display: table-row; 
    width:100%;
    min-height: 30px;
}
.modal-body .details-row .col-line {
    display: table-cell;
    width: 100%;
    height: 40px;
}
.modal-body .details-row .col-line .line {
    margin-left: 170px;
    margin-top: 20px;
    border-top: 1px solid #ededed;   
}
.modal-body .details-row .col-line .fullline {
    margin-top: 20px;
    border-top: 1px solid #ededed;   
}


.modal-body .details-row .col-label {
    display: table-cell; 
    float:left; 
    width: 30%;
    text-align: right;
    padding-top: 3px;
    padding-right: 27px;
    min-height: 30px;
}
.modal-body .details-row .col-label.left {
    text-align: left;
    padding-left: 10px;
}
.modal-body .details-row .col-data {
    display: table-cell; 
    float:left; 
    width: 70%; 
    min-height: 30px;
    padding-top: 3px;
    /* padding-right: 100px; */
}
.modal-body .details-row.margin-row .col-label,
.modal-body .details-row.margin-row .col-data {
    padding-top: 18px;
}
 
.modal-body .details-row .col-label .label-text {
    white-space: nowrap;
    overflow: hidden;
    color: #999;
    font-size: 15px;
    font-weight: 500;
    line-height: 27px;
}



.modal-body .details-row .col-data .data-text {
    color: #333;
    font-size: 17px;
    line-height: 27px;
    /* white-space: nowrap; */
    overflow: hidden; 
}
.modal-body .details-row .col-data .data-text.department,
.modal-body .details-row .col-data .data-text.name{
    display: block;
    color: #000;
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modal-body .details-row .col-data p.middle-text {
    font-size: 13px;
    padding-right: 25px;
    font-weight: normal;
}

.modal-body .details-row .col-data .data-input {
    position: relative;
    white-space: nowrap;
    color: #333;
    font-size: 17px;
    overflow: hidden;
}
.modal-body .details-row .col-data .data-input input {
    display: block;
    z-index: 100;
    width: 285px;
    padding: 2px 4px;
    background: transparent;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 1px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fafafa;
    color: #1a1a1a;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: middle;
    line-height: inherit;
}
.modal-body input[disabled],
.modal-body .details-row .col-data .data-input input[disabled] {
    background-color: #f1f1f1;
    color: #999;
}
.modal-body .details-row .col-data input[type=checkbox] {
    display: inline-block;
    float: left;
    margin: 3px 5px 0px 0px;
}
.modal-body .details-row .col-data .data-input textarea {
    display: block;
    z-index: 100;
    margin-left: 1px;
    width: 285px;
    padding: 2px 4px;
    background: transparent;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 1px;
    border-radius: 2px; 
    -webkit-box-shadow: inset 0px 1px 0px 0px #fafafa;
    color: #1a1a1a;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: middle;
    line-height: inherit;
    resize:none;
}
.modal-body .details-row .col-data.list-of-attachments {
    position: relative;
    margin: 0px;
    padding: 0px;
    margin-top: 18px;
    max-height: 250px;
    overflow: hidden;
}
.modal-body .details-row .col-data.documents-list,
.modal-body .details-row .col-data.upload-documents-list {
    position: relative;
    display: block;
    width: 100%;
}

.documents-list .col-remove,
.upload-documents-list .col-remove {
    display:block; 
    float: left; 
    width:15%; 
    height: 30px;
}
.documents-list .col-remove .remove-icon,
.upload-documents-list .col-remove .remove-icon {
    display: block;
    margin: 0;
    width: 100%;
    height: 30px;
    background: url('../../img/icons-buttons/remove.png') center left no-repeat;
    cursor: pointer;
}
.documents-list .col-document-data,
.upload-documents-list .col-document-data {
    display:block; 
    float: left; 
    max-width: 210px; 
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 
.upload-documents-list .col-status {
    display:block; 
    float: left; 
    width:10%; 
    height: 30px;
}
.upload-documents-list .status.file-uploading {
    background: url('../../img/ajax-loader.gif') center center no-repeat;
}
.upload-documents-list .status.file-waiting {
    background: url('../../img/ajax-loader.gif') center center no-repeat;
}
.upload-documents-list .status.file-uploaded {
    
}
.upload-documents-list .status.file-uploaderror {
    
}

.list-of-comments {
    position: relative;
    margin: 0px;
    padding: 0px;
    margin-top: 18px;
    max-height: 300px;
    overflow: hidden;
}

.list-of-comments .comment-item {
    width: 100%;
    padding: 8px 0px;
    border-bottom: 1px dashed #ccc;
}
.list-of-comments .system-name {
    color: #007aff;
}

/* buttons */

button.left {
    float:left;
}
button.right {
}

button.in-progress {
    color: transparent !important;
    background: url('../../img/ajax-loader.gif') center center no-repeat  !important;
}
div.separator {
    margin: 0px 10px 0px 10px;
    display: inline-block;
    width: 1px;
    height: 22px;
    vertical-align: middle;
}
div.separator.line {
    border-left: 1px solid #ccc;
}
button.red {
    color: #fc3d40;
}
button.red:hover {
    color: #ED1013;
}

.ship-image {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
}
.ship-image .image-thumb {
    width: 102px; 
    height: 102px; 
    border-radius: 50%;
    border: 1px solid #ccc;
    text-align: center;
    background: #ffffff;
}
.ship-image .image-thumb:hover {
    /* background: #CBFFCF; */
}

.ship-image img{
    width: 100px; 
    height: 100px;
    border: none;
    outline: none;
    border-radius: 50%;
}

.btn-add {
    
}
    
.btn-add a.add,
.btn-add a.add:hover {
    position: absolute;
    top: 35px;
    display: block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 30px;
    padding-top: 8px;
}
.btn-add input{
    display: none;
}


.btn-remove {
    opacity: 0;
}

.btn-remove a.remove,
.btn-remove a.remove:hover {
    position: absolute;
    z-index: 10000;
    top: 35px;
    display: block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    padding: 8px 0px 0px 15px;
    width: 100%;
    height: 30px;
    background: url('../../img/icons-buttons/remove.png') 10px center no-repeat;
}