body {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    min-width: 960px;
    background-color: #fff;
}
.main-content {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    min-width: 1420px;
    height: 100%;
    margin: 0px; 
    text-align: center;
    overflow-x: auto;
}
.main-content__wrapper {
    position: relative;
    display:block;
    width: 100%;
    min-width: 600px;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgba(0,0,0,0.5);
    overflow-x: auto;
}
.col-groups-list{
    position: relative;  
    width: 200px;
    height: 100%;
    border-right: 1px solid #C2C4C5;
}
.col-groups-list-header{
    position: relative;
    top:0px;
    left:0px;
    right:0px;
    height: 45px;
    line-height: 45px;
    padding: 0px 15px;
    margin: 0px;
    text-align: left;
    background: #E4E6E8;
    border-bottom: 1px solid #A3C3DB;
}
.col-groups-list-header__h1{
    color:#0E80FE;
    font-size: 20px;
    cursor: pointer;
}
.col-groups-list-header__h1::-moz-selection {
    background-color: rgba(0,0,0,0);
}
.col-groups-list-header__h1::selection {
    background-color: rgba(0,0,0,0);
}
.col-groups-list-content{
    position: absolute;
    width: 100%;
    top:45px;
    bottom:45px;
    left:0px;
    right: 0px;
    height: calc(100%-90px);
    margin: 0px;
    background: #E4E6E8;
    border-bottom: 1px solid #C1C3C4;
    overflow:auto;
}
.col-groups-list-list{
    margin: 0px;
}
.col-groups-list-list__item{   
    position:relative;
    display: block;
    float:right;
    height: 45px;
    line-height: 45px;
    width: 95%;
    margin: 0px;
    padding: 0px 5px;
    background: transparent;
    font-size: 17px;
    text-align: left;
    color: #383838;
    border-top: 1px solid #EBECEE;
    border-bottom: 1px solid #C5C5C5;
    cursor:pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.col-groups-list-list__item:nth-child(1) {
    width: 100%;
    padding:0px 15px;
    background: #D6D8DB;
    border-top: none;
    border-bottom: 1px solid #C5C5C5;
}
.col-groups-list-list__item:nth-child(2) {
    margin-top: 5px;
}
.col-groups-list-list__item:hover{
    background-color: rgba(0,0,0,0.4);  
}
.col-groups-list-list__item::selection{
    background-color: rgba(0,0,0,0);  
}
.col-groups-list-list__item::-moz-selection{
    background-color: rgba(0,0,0,0);  
}

.col-groups-list-footer{
    position: absolute;
    bottom:0px;
    left:0px;
    right:0px;
    height: 45px;
    line-height:45px;
    margin: 0px;
    background: #DADCDE;
}
.col-groups-list-footer__item{
    color: #080808;
    font-size: 20px;
}
.col-calendar-header{
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    height: 45px;
    line-height: 45px;
    margin: 0px;
    background: #FFFFFF;
    border-bottom: 1px solid #A3C3DB;
}
.col-calendar-header__h1{
    padding: 0px 20px;
    text-align: right;
    color:#0E80FE;
    font-size: 20px;
}
.col-calendar{
    position: relative;
    width: calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    height: 100%;
    background: #FFFFFF;
    overflow: hidden;
}
.col-calendar-content{
    position: absolute;
    top:45px;
    bottom:45px;
    left:0px;
    right: 0px;
    width:100%;
    margin: 0px;
    font-size: 17px;
    background: #FFFFFF;
    border-bottom: 1px solid #ccc;
    overflow:auto;
}
.col-calendar-content__wrapper{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.calendar__month{
    height: 241px;
    min-width: 300px;
    max-width: 660px;
}
.calendar__month-name{
    height: 40px;
    margin: 0px 25px;
    font-size: 27px;
    text-align: left;
}
.calendar__month-content{
    width: 100%;
    height: calc(100% - 40px);
    padding:0px 25px;
    padding-bottom: 15px;
}
.calendar__week{
    height:30px;
    padding-top: 0px;
}
.calendar__day{
    width:14.285714285%;
    height: 100%;
    padding-top: 5px;
    font-size: 14px;
    text-align :center;
    border-radius: 30px;
    color: #000;
}
.calendar__day__next{
    color: rgba(0,0,0,0.5);
}
.calendar__day__prev{
    color: rgba(0,0,0,0.5);
}
.calendar__day__holid{
    background-image: url('../../../static/img/Users/calendar/circle_red.png');
    background-position: center center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    color: #fff;
}
.calendar__day__orange{
    background-image: url('../../../static/img/Users/calendar/circle_orange.png');
    background-position: center center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    color: #fff;
}
.calendar__day__green{
    background-image: url('../../../static/img/Users/calendar/circle_green.png');
    background-position: center center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    color: #fff;
}
.calendar__day__blue{
    background-image: url('../../../static/img/Users/calendar/circle_blue.png');
    background-position: center center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    color: #fff;
}
.calendar__day__gray{
    background-image: url('../../../static/img/Users/calendar/circle_gray.png');
    background-position: center center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    color: #fff;
}
.calendar__day__purpure{
    background-image: url('../../../static/img/Users/calendar/circle_purpure.png');
    background-position: center center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    color: #fff;
}
.col-calendar-footer{
    position: absolute;
    bottom:0px;
    left:0px;
    right:0px;
    height: 45px;
    line-height:45px;
    margin: 0px;
    background: #f7f7f7;
    color: #080808;
}
.col-calendar-footer__item{
    font-size: 20px;
}
.height-100px{
    height: 100px;
    padding: 20px 0px;
}
.height-110px{
    height: 110px;
    padding: 20px 0px;
}
.height-120px{
    height: 120px;
    padding: 20px 0px;
}
.height-130px{
    height: 130px;
    padding: 0px;
}
.height-140px{
    height: 140px;
    padding: 20px 0px;
}
.height-150px{
    height: 150px;
    padding: 20px 0px;
}
.height-33percent{
    height: 33%;
    padding: 0px;
}