body {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    min-width: 960px;
    /*    background-image: url("../../../static/img/App/background-image.jpg");
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-size: cover;
        background-position: center center;  */
    background-color: #fff;
}
/*MAIN HEADER*/
.main-header {
    position: absolute;
    width: 100%;
    height: 45px;
    min-width: 960px; 
    margin: 0px;
    background: #fff;
}

.main-header__col-name {
    float: left;
    width: 200px;
    display:inline-block;
    position: relative;
    min-height: 1px;
    height: 45px;
    /*border-right: 1px solid #C2C4C5;*/
    border-bottom: 1px solid #bad0df;
    /*background:#ddeefb;*/
}
.col-name-content {
    padding: 0px 15px;
    position: absolute;
    margin: 0px;
    color:rgb(228, 0, 0);
    font-size: 20px;
    margin-top:7px;
    cursor:pointer;

}
.main-header__col-search {
    float: left;
    width: 300px;
    display:inline-block;
    position: relative;
    min-height: 1px;
    height: 45px;
    /*border-right: 1px solid #C2C4C5;*/
    border-bottom: 1px solid #bad0df;
    background: #fff;

}
.col-search-content {
    padding: 0px 15px;
    position: absolute;
    margin: 0px;
    color:#B7B7B7;
    font-size: 20px;
    margin-top:7px;
}
.main-header__col-details {
    left:500px;
    position: absolute;
    display:inline-block;
    min-height: 1px;
    height: 45px;
    width: calc(100% - 500px);
    background:#fff;
    border-bottom: 1px solid #bad0df!important;
}
.col-details-content {
    padding: 0px 15px;
    position: absolute;
    margin: 0px;
    color:#0E80FE;
    font-size: 20px;
    margin-top:7px;
    cursor:pointer;
}

.main-header__ {
    margin: 6px 15px 0px;
    font-size: 24px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    color: #fff;
    cursor:pointer;
}
.main-header__h1::-moz-selection {
    background: rgba(0,0,0,0);
}

.main-header__h1::selection { 
    background: rgba(0,0,0,0);
}

.main-content {
    position: absolute;
    top: 45px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /*    min-width: 960px;
        min-height: 600px;*/
    height: calc(100% - 45px);
    height: -webkit-calc(100% - 45px);
    height: -moz-calc(100% - 45px);
    margin: 0px; 
    text-align: center;
    overflow-x: auto;
}


.main-content__wrapper {
    position: relative;
    display:block;
    width: 100%;
    min-width: 600px;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgba(0,0,0,0.5);
    overflow-x: auto;
}
/*MAIN FOOTER*/
.main-footer {
    position: absolute; /*fixed*/
    left: 0;
    bottom: 0;
    width: 100%;
    min-width: 960px;
    height: 45px;
    margin: 0;
    padding: 0;
    background: #fff;
}
/*MAIN FOOTER*/
.main-footer__col-group {
    float: left;
    width: 200px;
    display:inline-block;
    position: relative;
    min-height: 1px;
    height: 45px;
    border-right: 1px solid #C2C4C5;
    border-top: 1px solid #bad0df;
    background: #ddeefb;
}

.main-footer__col-item {
    float: left;
    width: 300px;
    display:inline-block;
    position: relative;
    min-height: 1px;
    height: 45px;
    border-right: 1px solid #C2C4C5;
    border-top: 1px solid #bad0df;
    background: #fff;

}

.main-footer__col-edit {
    position: absolute;
    display:inline-block;
    min-height: 1px;
    height: 45px; 
    left:500px;
    width: calc(100% - 500px);
    border-top: 1px solid #bad0df;
    background: #fff;
}

.col-edit__button--edit {
    /*padding: 0px 15px;*/
    /*position: absolute;*/
    margin: 0px;
    color:#0E80FE;
    font-size: 20px;
    margin-top:7px;
    cursor:pointer;
    /*border-top: 1px solid #C2C4C5;*/
}
.col-edit__button--cancel
{
    padding: 0px 15px;
    position: absolute;
    margin: 0px;
    color:#0E80FE;
    font-size: 20px;
    margin-top:7px;
    cursor:pointer;
}
.col-edit__button--add
{
    float:right;
    /*padding: 0px 100px 15px 10px;*/
    margin: 0px;
    color:#0E80FE;
    /*font-size: 20px;*/
    margin-top:7px;
    cursor:pointer;
}
.col-edit__button--delete
{
    float:right;
    /*padding: 0px 100px 15px 10px;*/
    margin: 0px;
    color:red;
    /*font-size: 20px;*/
    margin-top:7px;
    cursor:pointer;
}
/*END FOOTER*/

.col-groups{
    position: relative;  
    width: 200px;
    height: 100%;
    border-right: 1px solid #C2C4C5;
}

.col-groups-header{
    position: relative;
    top:0px;
    left:0px;
    right:0px;
    height: 45px;
    line-height: 45px;
    padding: 0px 15px;
    margin: 0px;
    text-align: left;
    background: #E4E6E8;
    border-bottom: 1px solid #A3C3DB;
}

.col-groups-header__h1{
    color:#0E80FE;
    font-size: 20px;
}

.col-groups-content{
    position: relative;
    width: 100%;
    height:100%;
    left:0px;
    right: 0px;
    height: calc(100%-90px);
    margin: 0px;
    background: #ddeefb;
    border-bottom: 1px solid #C1C3C4;
    overflow:auto;
}

.col-groups-list{
    margin: 0px;
}

.col-groups-list__item{   
    position:relative;
    display: block;
    float:right;
    height: 33px;
    line-height: 32px;
    width: 100%;
    margin: 0px;
    padding: 0px 15px;
    background: transparent;
    font-size: 14px;
    text-align: left;
    color: #465D6E;
    /*border-top: 1px solid #C5C5C5;*/
    border-bottom: 1px solid #fff;
    cursor:pointer;
}

.col-groups-list__item:nth-child(1) {
    width: 100%;
    padding:0px 15px;
    background: #ddeefb;
    /*    border-top: 1px solid #C5C5C5;;*/
}

.col-groups-list__item::selection{
    background-color: rgba(0,0,0,0);  
}

.col-groups-list__item::-moz-selection{
    background-color: rgba(0,0,0,0);  
}

.col-groups-list__item--selected
{
    background-color: #cae8fb!important;
}

.col-groups-footer{
    position: absolute;
    bottom:0px;
    left:0px;
    right:0px;
    height: 45px;
    line-height:45px;
    margin: 0px;
    background: #DADCDE;
}

.col-groups-footer__item{
    color: #080808;
    font-size: 20px;
}

.col-items-list-header{
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    height: 45px;
    line-height: 45px;
    padding: 0px 15px;
    margin: 0px;
    text-align: left;
    background: #F9F9F9;
    border-bottom: 1px solid #A3C3DB;
}

.col-items-list-header__h1{
    color:#B7B7B7;
    font-size: 20px;
}

.col-items-list{
    position: relative;
    width: 300px;
    height: 100%;
    border-right: 1px solid #C2C4C5;
}

.col-items-list-content{
    position: absolute;
    width: 100%;
    height:100%; 
    left:0px;
    right: 0px;
    height: calc(100%-90px);
    margin:0;
    background: #f9f9f9;
    border-bottom: 1px solid #C1C3C4;
    /*border-top: 1px solid #C1C3C4;*/
    overflow:auto;
}

.col-items-list-list{
    margin: 0px;
    height: 60px;
    width: 100%;
    top:1px;
    /*border-bottom: 1px solid #e5e5e5;*/
}

.col-items-list-list__item:after{
    content: '';
    position: absolute;
    height: 1px;
    left: 30px;
    right: 0px;
    top: 60px;
    background-color: #e5e5e5;
}
.col-items-list-list.selected
{
    background-color: #2b91e3!important;
    color:#fff!important;
    border-top: 1px solid #e5e5e5;
    /*background-color: #b6def5;*/
}

.col-items-list-list__item{
    position:relative;
    display: block;
    float:right;
    height: 60px;
    line-height: 32px;
    width: 100%;
    margin: 0px;
    padding: 3px 30px;
    background: transparent;
    font-size: 17px;
    text-align: left;
    /*    border-top: 1px solid #EBECEE;*/
    /*border-bottom: 1px solid #fff;*/
    cursor:pointer;
}

.col-items-list-list__item:nth-child(1) {
    /*border-top: 1px solid #F9F9F9;*/
}

.col-items-list-list__item-name::-moz-selection {
    background: rgba(0,0,0,0);
}

.col-items-list-list__item-name::selection { 
    background: rgba(0,0,0,0);
}

.col-items-list-list__item-name{
    display:inline-block;
    float: left;
    font-weight: normal;
}           

.col-items-list-footer{
    position: absolute;
    bottom:0px;
    left:0px;
    right:0px;
    height: 45px;
    line-height:45px;
    padding:0px;
    margin: 0px;
    background: #EFEFEF;
}

.col-items-list-footer__item{    
    color: #323232;
    font-size: 20px;
}

.items-informations-header{
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    height: 45px;
    line-height: 45px;
    padding: 0px 25px;
    margin: 0px;
    text-align: left;
    background: #FFFFFF;
    border-bottom: 1px solid #A3C3DB;
}

.items-informations-header__h1{
    color:#0E80FE;
    font-size: 20px;
    cursor:pointer;
}

.col-items-informations{
    position: relative;
    width: calc(100% - 500px);
    width: -webkit-calc(100% - 500px);
    width: -moz-calc(100% - 500px);
    height: 100%;
    background: #FFFFFF;
}
.hide
{
    display:none;
    pointer-events: none;
}

.items-informations-content{
    position: absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right: 0px;
    width:100%;
    height: calc(100% - 45px);
    margin: 0px;
    font-size: 17px;
    background: #FFFFFF;
    overflow:auto;
}

.items-informations-footer{
    position: absolute;
    display:none;
    bottom:0px;
    left:0px;
    right:0px;
    height: 45px;
    line-height:45px;
    margin: 0px;
    background: rgba(255,0,0,0.8);
}

.items-informations-footer__item{
    color:white;
    font-size: 20px;
}

.items-informations-content__left{
    height: 100%;
    padding: 0px 25px;
    text-align: right;
    color: #999999;
}

.items-informations-content__right{
    height: 100%;
    padding: 0px 25px;
    text-align: left;
    color: #333333;
}

.height-100px{
    height: 100px;
    padding: 20px 0px;
}
.height-110px{
    height: 110px;
    padding: 20px 0px;
}
.height-120px{
    height: 120px;
    padding: 20px 0px;
}
.height-130px{
    height: 130px;
    padding: 20px 0px;
}
.height-140px{
    height: 140px;
    padding: 20px 0px;
}
.height-150px{
    height: 150px;
    padding: 20px 0px;
}

.margin-bottom-20px{
    margin-bottom: 20px;
}

.items-informations-content__right .row{
    border-bottom: 1px solid #EDEDED;
}

.items-informations-content__right__name{
    font-size: 30px;
    font-weight:normal;
    color: #333333;
}

.items-informations-content__right__job{
    font-size: 21px;
    font-weight:normal;
    color: #999999;
}

.items-informations-content__left__image{
    width: 100px;
    height: 100px;
    float: right;
    background-image: url("../../../static/img/Users/users/examplePhoto.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50px;
    border: 1px solid #999999;
}
/* Buttons */
.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    font-size: 21px;
    line-height: 32px;
    padding: 2px 15px;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
}
.btn,
.btn:active,
.btn:focus,
.btn:hover {
    outline: none !important;
    background: none;
    box-shadow: none;
}
.btn.btn-blue,
.btn.btn-blue:active,
.btn.btn-blue:focus
{
    color: #167efb;
}
.btn.btn-blue:hover {
    color: #015BC7;
}

.btn.btn-red,
.btn.btn-red:active,
.btn.btn-red:focus
{
    color: #FF4343;
}
.btn.btn-red:hover {
    color: #E60101;
}
.btn.btn-blue.selected,
.btn.btn-blue.selected:hover,
.btn.btn-blue.selected:active,
.btn.btn-blue.selected:focus {
    color: #fff;
    background: rgba(22,126,251,0.7);
}


.btn.primary {
    font-weight: normal;
}
.btn.left {
    float: left;
}
.btn.right {
    float: right;
}
.btn.btn-plus {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('../../../static/img/Users/users/icon-plus.png') center center no-repeat;

}
.readonly
{
    border:none;
}
/*FOR USERS PREVIEW*/
.col-items-informations .items-informations-content .row-form
{
    display: table-row;
    width: 100%;
    min-height: 30px;
}
/*LEFT SIDE*/
.row-form .col-label
{
    display: table-cell;
    float: left;
    width: 150px;
    margin-left: 50px;
    text-align: right;
    padding-top: 3px;
    padding-right: 27px;
    min-height: 30px;
    overflow: hidden;
}

.image-item
{
    position: relative;
    display: block;
    width: 102px;
    height: 102px;
    margin: 0 auto;
    text-align: center;
}

.image-item .image-thumb
{
    width: 102px;
    height: 102px;
    border-radius: 50%;
    border: 1px solid #ccc;
    text-align: center;
    background: #ffffff;

}
/*RIGHT SIDE*/
.row-form .col-data
{
    display: table-cell;
    float: left;
    width: calc(100% - 200px);
    min-height: 30px;
    padding-top: 3px;
    padding-right: 100px;
}
.line
{
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
}

.row-form .col-data .data-table .data-name
{
    display: block;
    float:left;
    margin-top: 20px;
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.row-form .col-data .data-table .data-username
{
    display: block;
    min-width: 100%;
    color: #999;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
    text-align: left;
}
.col-separate
{
    display: table-cell;
    width: 100%;
    height: 40px
}  
.separate
{  
    margin-left: 200px;
    margin-top: 20px;
    border-top: 1px solid #ededed;
}
.separate-all
{
     margin-top: 20px;
     width: 100%;
     height: 40px;
     border-top: 1px solid #ededed;
}

.row-form .col-buttons
{
    margin-top:10px;
    display: inline-block;
    float:left;
}

.content-wpapper
{
    display: block;
}
.col-data .data-text
{
    color: #333;
    float: left;
    font-size: 17px;
    line-height: 27px;
    /* white-space: nowrap; */
    overflow: hidden;
}

/*EDIT CONTENT extra*/

.data-name-edit
{
    display: block;
    margin-top: 20px;
    float: left;
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.data-username-edit
{
    display: block;
    color: #999;
    font-size: 14px;
    min-height: 14px;
    min-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
    text-align: left;
}

.row-form .col-inputs {
    display: inline-block;
    
}
.row-form .col-inputs .input {
    padding: 3px 5px;
    margin-bottom: 10px;
}
.row-form .col-inputs .input.border {
    border: 1px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 2px;
}
.row-form .col-inputs input[type=text],
.row-form .col-inputs input[type=number],
.row-form .col-inputs input[type=password],
.row-form .col-inputs textarea {
        color: #333;
        outline: none;
        vertical-align: middle;
        border: none;
        min-height: 20px;
        width: 280px;
        font-size: 14px;
}

/*
 * Component :: Search bar
 */
.search-bar { 
    margin:0 auto;  
    height: 44px;
    width: 230px;
    text-align: center;
    padding: 10px 0 0 0;
}
.search-bar__wrapper {
    display: inline-block;
    margin: 0 auto;
    height: 24px;
    width: 230px;
    padding-left: 15px;
    background: #fff;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid #ccc;

}
.search-bar__input{
    width: 200px;
    border: none;
    font-size: 13px;
    /*padding: 2px 3px;*/
    margin: 1px
}